@import 'src/assets/scss/mixins';

.sixth-section {
    box-sizing: border-box;
    width: 100%;
    height: 40vh;
    position: relative;
    background: radial-gradient(71.18% 335.57% at 28.82% -124.4%, #5988ff 6.25%, #5988ff 51.56%, #0043f0 100%);
    .sixth-section-logo {
        padding-left: 6.94%;
        height: 15vh;
        width: 200px;
        img {
            width: 80px;
            height: 80px;
        }
    }
    .sixth-section-name {
        height: 15vh;
        width: 300px;
        p {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 23px;
            line-height: 120%;
            color: #FFFFFF;
        }
        span {
            font-size: 16px;
            line-height: 120%;
            color: #ffffff;
            margin-bottom: 2px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .sixth-section-icons {
        padding-right: 6.94%;
        height: 15vh;
        width: 200px;
        img {
            margin-left: 8px;
            margin-right: 8px;
            &:hover {
                cursor: pointer;
                @include slide-icons-animation-footer;
            }
        }
    }
}

@import 'src/assets/scss/width-responsive-600.scss';
@import "src/assets/scss/width-responsive-smartphone-landscape.scss";
@import 'src/assets/scss/responsive.scss';