@media only screen and (max-width: 1000px) and (min-width: 601px) {
    /*abovethefold*/
    .hide-between-600-and-800 {
        display: none !important;
    }

    .white-link-desktop-between-600-and-800 {
        color: white !important;
    }

    .first-section-name {
        display: flex !important;
    }

    .main-container {
        overflow-x: hidden;
        flex-direction: column-reverse;
        max-height: 100vh;
        .main-container-left-side {
            width: 100%;
            max-height: 50%;
            position: relative;
            .first-section-img-stefan {
                height: 130% !important;
                img {
                    height: 100%;
                    width: 110%;
                }
            }
        }
        .main-container-right-side {
            width: 100%;
            max-height: 50%;
            .first-section-name {
                min-height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin-left: 6.84%;
                .name {
                    font-size: 62px;
                    margin-top: 20px;
                    color: #ffffff;
                }
                .title {
                    font-size: 60px;
                    color: #ffffff;
                }
            }
        }
    }

    .white-link-ipad-air {
        color: #ffffff !important;
    }

    .white-link-ipad-air-landscape {
        color: #ffffff !important;
    }

    /*about*/
    .second-section {
        .second-section-ball-right {
            position: absolute;
            top: 63px;
            right: 5.5%;
        }

        .second-section-child {
            flex-direction: column;
            padding-left: 6.84% !important;

            .second-section-child-left-side-lets-work-together {
                min-width: 100%;
                max-width: 100%;
                text-align: start;
                justify-content: flex-start !important;
                h2 {
                    font-size: 80px !important;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
            }

            .second-section-child-right-side {
                min-width: 100%;
                max-width: 100%;
                margin-bottom: 50px;
                .second-section-child-right-side-mytext {
                    text-align: start;
                    span {
                        margin-left: 4px;
                        font-size: 24px;
                        color: #000000;
                    }
                }
                .second-section-child-right-side-message {
                    padding-top: 2%;
                    padding-left: 0 !important;
                    button {
                        margin-left: 4px;
                    }
                }
            }
        }
    }

    /*skills*/

    .third-section {
        h2 {
            font-size: 83px !important;
        }
    }
    .third-section-pictures-box {
        height: 110px !important;
        img {
            margin-left: 54px !important;
            margin-right: 40px !important;
        }
    }

    /*mywork*/
    .fourth-section-mywork-text {
        h3 {
            margin-bottom: 20px;
        }
        p {
            font-size: 26px !important;
        }
    }

    .fourth-section-fourth-ball {
        left: 65% !important;
    }

    /*mywork projects*/
    .fourth-section-projects {
        min-width: 100%;
        max-width: 100%;
        margin-left: 0%;
        background-color: #f5f5f5;

        .fourth-section-projects-container {
            padding-top: 0px !important;
            margin-bottom: 50px !important;
            width: 100%;
            height: 40vh !important;
            display: flex;

            .balls {
                .ball-six-smartphone {
                    bottom: 47% !important;
                    height: 50%;
                }
                .ball-eight-smartphone {
                    top: -7% !important;
                    height: 53%;
                }
                .ball-nine-smartphone {
                    left: 2% !important;
                    bottom: 43% !important;
                }
                .ball-ten-smartphone {
                    right: 0.5% !important;
                    bottom: 46% !important;
                }
            }

            .fourth-section-projects-container-image-container {
                min-width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow-y: hidden;
                img {
                    min-height: 45vh !important;
                    width: 100%;
                }
            }

            .fourth-section-projects-container-project-datas {
                display: flex;
                min-width: 50%;
                padding: 0 0 0 0;
                z-index: 3;
                align-items: center !important;
                padding: 2%;
                box-sizing: border-box;
                .fourth-section-projects-container-project-datas-name {
                    text-align: center !important;
                    h3 {
                        margin-bottom: 0;
                    }
                }

                .fourth-section-projects-container-project-datas-used-technologies {
                    text-align: center !important;
                    p {
                        font-size: 17px;
                        line-height: 120%;
                        color: #5988ff;
                    }
                }

                .fourth-section-projects-container-project-datas-description {
                    text-align: center !important;
                    span {
                        font-size: 16px;
                        line-height: 120%;
                        color: #000000;
                    }
                }

                .fourth-section-projects-container-project-datas-tryout {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button {
                        margin: 24px 0 0 4px !important;
                        min-width: 155px !important;
                        min-height: 50px !important;
                        padding: 10px 30px !important;
                    }
                }
            }
        }
    }

    /*contact*/
    .fifth-section {
        .fifth-section-contact-headline {
            h3 {
                margin-bottom: 30px;
            }
        }

        .fifth-section-eleventh-ball {
            img {
                width: 50% !important;
            }
        }

        .fifth-section-twelfth-ball {
            img {
                width: 50% !important;
            }
        }
        .fifth-section-contact-text {
            padding-right: 2%;
        }

        .fifth-section-thirteenth-ball {
            bottom: 20px !important;
            right: 2.31% !important;
        }
    }
}
