@media only screen and (max-width: 600px) {
    /*abovethefold*/
    .main-container {
        overflow-x: hidden;
        flex-direction: column-reverse;
        max-height: 100vh;
        .main-container-left-side {
            width: 100%;
            max-height: 50%;
            position: relative;
            .first-section-img-stefan {
                img {
                    height: 100%;
                    width: 110%;
                }
            }
        }
        .main-container-right-side {
            width: 100%;
            max-height: 50%;
            .first-section-name {
                min-height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin-left: 6.84%;
                .name {
                    font-size: 32px;
                    margin-top: 20px;
                    color: #ffffff;
                }
                .title {
                    font-size: 35px;
                    color: #ffffff;
                }
            }
        }
    }

    /*about*/
    .second-section {
        .second-section-ball-right {
            position: absolute;
            top: 63px;
            right: 4.5%;
        }

        .second-section-child {
            flex-direction: column;
            padding-left: 3% !important;

            .second-section-child-left-side-lets-work-together {
                min-width: 100%;
                max-width: 100%;
                text-align: start;
                h2 {
                    font-size: 80px !important;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
            }

            .second-section-child-right-side {
                min-width: 100%;
                max-width: 100%;
                margin-bottom: 50px;
                .second-section-child-right-side-mytext {
                    text-align: start;
                    span {
                        margin-left: 4px;
                        font-size: 18px;
                        color: #000000;
                    }
                }
                .second-section-child-right-side-message {
                    padding-top: 2%;
                    padding-left: 0 !important;
                    button {
                        margin-left: 4px;
                    }
                }
            }
        }
    }

    /*skills*/
    .third-section {
        h2 {
            font-size: 72px !important;
            margin-bottom: 2px;
        }
        .third-section-pictures {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 95.48%;
            .third-section-pictures-box {
                margin-top: 32px;
                text-align: center;
                img {
                    width: 54px;
                    height: 54px;
                    margin-left: 16px;
                    margin-right: 16px;
                }
                p {
                    width: 85px;
                    height: 19px;
                    font-size: 16px;
                    line-height: 120%;
                    color: #ffffff;
                }
            }
        }
    }

    /*mywork*/
    .fourth-section {
        width: 100%;
        background-color: #f5f5f5;
        position: relative;
        .fourth-section-fourth-ball {
            position: absolute;
            top: 50px;
            left: 67.44% !important;
            img {
                height: 54px;
                width: 54px;
            }
        }

        .fourth-section-fifth-ball {
            position: absolute;
            top: 230px;
            right: 6.94%;
            img {
                height: 60px;
                width: 60px;
            }
        }

        .fourth-section-mywork-text {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            width: 86.12%;
            h3 {
                font-size: 50px !important;
                margin-bottom: 0;
                margin-top: 120px;
            }
            p {
                font-size: 20px;
                line-height: 120%;
                color: #000000;
                margin-bottom: 80px;
            }
        }
    }

    /*projects component*/
    .fourth-section-projects {
        min-width: 100%;
        max-width: 100%;
        margin-left: 0%;
        background-color: #f5f5f5;

        .fourth-section-projects-container {
            padding-top: 0px !important;
            margin-bottom: 50px !important;
            width: 100%;
            height: 70vh !important;
            display: flex;
            flex-direction: column !important;

            .balls {
                .ball-six-smartphone {
                    bottom: 47% !important;
                    height: 50%;
                }
                .ball-eight-smartphone {
                    top: -7% !important;
                    height: 53%;
                }
                .ball-nine-smartphone {
                    left: 2% !important;
                    bottom: 43% !important;
                }
                .ball-ten-smartphone {
                    right: 0.5% !important;
                    bottom: 46% !important;
                }
            }

            .fourth-section-projects-container-image-container {
                min-width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                }
            }

            .fourth-section-projects-container-project-datas {
                display: flex;
                width: 100%;
                padding: 0 0 0 0;
                z-index: 3;
                align-items: center !important;
                .fourth-section-projects-container-project-datas-name {
                    text-align: center !important;
                    h3 {
                        margin-bottom: 0;
                    }
                }

                .fourth-section-projects-container-project-datas-used-technologies {
                    text-align: center !important;
                    p {
                        font-size: 17px;
                        line-height: 120%;
                        color: #5988ff;
                    }
                }

                .fourth-section-projects-container-project-datas-description {
                    text-align: center !important;
                    span {
                        font-size: 16px;
                        line-height: 120%;
                        color: #000000;
                    }
                }

                .fourth-section-projects-container-project-datas-tryout {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button {
                        margin: 24px 0 0 4px !important;
                        min-width: 155px !important;
                        min-height: 50px !important;
                        padding: 10px 30px !important;
                    }
                }
            }
        }
    }

    /*contact component*/
    .fifth-section {
        width: 100%;
        min-height: 60vh;
        position: relative;
        display: flex;
        background: #f5f5f5;

        .fifth-section-contact-headline {
            position: relative;
            // margin-left: 6.38%;
            width: 86.12%;
            h3 {
                margin-bottom: 0;
            }
            .fifth-section-eleventh-ball {
                position: absolute;
                left: 33%;
                top: -32px;
                img {
                    width: 70%;
                }
            }
        }

        .fifth-section-contact-wrap {
            margin-bottom: 100px;
            margin-left: 6.38%;
            width: 86.12%;
            display: flex;
            flex-direction: column;
            .fifth-section-contact-text {
                // background-color: rgba(0,0,0, 0.6);
                min-width: 100%;
                max-width: 100%;
                span {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 120%;
                    color: #5988ff;
                }
                .invitation {
                    width: 100%;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 120%;
                    color: #000000;
                }
                .question {
                    font-size: 16px;
                    line-height: 120%;
                    color: #5988ff;
                }
                .contactme {
                    margin-left: 4px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 120%;
                    color: #5988ff;
                }
                .fifth-section-twelfth-ball {
                    margin-top: 20px;
                    margin-left: 15%;
                }
            }

            .fifth-section-contact-send-email {
                display: flex;
                min-width: 100%;
                max-width: 100%;
                form {
                    input {
                        width: calc(80% - 1px);
                        background: #ffffff;
                        border: 1px solid #5988ff;
                        border-radius: 10px;
                        margin-bottom: 35px;
                        padding: 15px 25px;
                        height: 35px;
                        //isolation: isolate;
                        outline: none;
                        input:focus::placeholder {
                            color: transparent;
                        }
                    }
                    textarea {
                        width: calc(80% - 1px);
                        height: 180px;
                        background: #ffffff;
                        border: 1px solid #5988ff;
                        padding: 15px 25px;
                        border-radius: 10px;
                        outline: none;
                    }

                    .fifth-section-contact-send-email-button {
                        button {
                            font-family: "Montserrat";
                            font-style: normal;
                            font-weight: 400;
                            margin-top: 35px;
                        }
                    }
                }
            }
        }

        .fifth-section-thirteenth-ball {
            bottom: 20px !important;
            right: 2.31% !important;
        }
        .fifth-section-fourteenth-ball {
            position: absolute;
            bottom: 50px;
            left: 6.94%;
            background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988ff 6.25%, #5988ff 51.56%, #0043f0 100%)
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            border-radius: 41px;
            height: 39px;
            width: 39px;
            &:hover {
                cursor: pointer;
            }
        }
    }

    /*footer component*/
    .sixth-section {
        flex-direction: column;
        justify-content: normal !important;
        .sixth-section-name {
            span {
                margin-top: 20px;
            }
        }
        .sixth-section-logo {
            padding-left: 0 !important;
        }
        .sixth-section-icons {
            padding-right: 0 !important;
            a {
                margin: 0 16px 0;
            }
        }
    }

    /* imprint */

    .imprint-section {
        min-height: 100vh !important;
        height: fit-content !important;
    }

    .imprint-ball-two {
        right: 22% !important;
    }

    .inside-container {
        button {
            margin-bottom: 40px;
        }
    }
}
