@media only screen and (max-width: 1500px) and (min-width: 801px) {
    /*abovethefold*/
    .first-section-name {
        .name {
            font-size: 55px !important;
        }
        .title {
            font-size: 64px !important;
        }
    }

    // .white {
    //     color: white !important;
    // }

    /*about*/
    .second-section-child {
        .second-section-child-left-side-lets-work-together {
            h2 {
                font-size: 77px !important;
            }
        }

        .second-section-child-right-side {
            padding-top: 10% !important;
            margin-bottom: 50px;
            .second-section-child-right-side-mytext {
                span {
                    font-size: 19px !important;
                }
            }
        }
    }

    /* imprint */

    .imprint-ball-four {
        display: none !important;
    }

    .imprint-section {
        min-height: 100vh !important;
        height: fit-content !important;
    }
}
