.second-section {
    width: 100%;
    min-height: 65vh;
    background-color: #f5f5f5;
    position: relative;

    .second-section-ball-top-center {
        display: flex;
        justify-content: center;
        img {
            margin-top: -103px;
            z-index: 2;
            object-fit: cover;
        }
    }

    .second-section-ball-right {
        position: absolute;
        top: 63px;
        right: 22.5%;
    }

    .second-section-child {
        // background-color: rgba(0, 0, 0, 0.2);
        padding-left: 8%;
        box-sizing: border-box;
        .second-section-child-left-side-lets-work-together {
            // background-color: rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            min-width: 50%;
            max-width: 50%;
            padding-right: 1%;
            box-sizing: border-box;
            h2 {
                font-family: "Baloo 2";
                font-style: normal;
                font-weight: 800;
                font-size: 121px;
                line-height: 100%;
                letter-spacing: 0.01em;
                color: #5988ff;
            }
        }

        .second-section-child-right-side {
            min-width: 50%;
            max-width: 50%;
            padding-top: 5%;
            .second-section-child-right-side-mytext {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                span {
                    font-size: 23px;
                    line-height: 120%;
                    color: #000000;
                }
            }

            .second-section-child-right-side-message {
                // background-color: rgba(0, 0, 0, 0.2);
                padding-top: 2%;
                padding-left: 100px;
                box-sizing: border-box;
            }
        }
    }
}

@import "src/assets/scss/width-responsive-600.scss";
@import "src/assets/scss/width-responsive-1000.scss";
@import "src/assets/scss/width-responsive-1500.scss";
@import "src/assets/scss/width-responsive-smartphone-landscape.scss";
@import "src/assets/scss/responsive-ipad-mini.scss";
@import "src/assets/scss/responsive-ipad-air.scss";
@import "src/assets/scss/responsive.scss";
