@import "src/assets/scss/mixins";

.fourth-section-projects {
    .fourth-section-projects-container {
        padding-top: 30px;
        margin-bottom: 80px;
        position: relative;
        width: 100vw;
        box-sizing: border-box;
        padding-left: 6.94%;
        padding-right: 6.94%;
        min-height: 30vh;
        .balls {
            z-index: 2;
            img {
                position: absolute;
            }
        }
        .fourth-section-projects-container-image-container {
            min-width: 50%;
            max-width: 50%;
            z-index: 3;
            overflow-x: hidden;
            position: relative;
            .text-container {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: all 0.3s ease-in-out;
                text-align: center;
                z-index: 4;
                font-size: 20px;
                cursor: pointer;

                .animate-text {
                    color: #fff; /* Die Farbe des Textes */
                    overflow: hidden;
                    white-space: nowrap;
                    animation: animate 3s linear forwards infinite;
                }
            }

            @keyframes animate {
                from {
                    width: 0;
                }
                to {
                    width: 100%;
                }
            }

            .animate-text > span {
                display: inline-block;
                animation: show 3s forwards;
            }

            @keyframes show {
                from {
                    opacity: 0;
                    transform: translateX(-50%);
                }
                to {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            /* Verzögerung zwischen den Buchstaben */
            .animate-text > span:nth-child(1) {
                animation-delay: 0.1s;
            }
            .animate-text > span:nth-child(2) {
                animation-delay: 0.2s;
            }
            .animate-text > span:nth-child(3) {
                animation-delay: 0.3s;
            }
            /* und so weiter... */

            &:hover .text-container {
                opacity: 1;
            }

            img {
                height: 100%;
                width: 100%;
                filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));
                object-fit: cover;
                &:hover {
                    cursor: pointer;
                    @include jump-animation;
                }
            }
        }

        .fourth-section-projects-container-project-datas {
            display: flex;
            width: 50%;
            padding: 0 40px 0 40px;
            z-index: 3;
            .fourth-section-projects-container-project-datas-name {
                h3 {
                    font-family: 'Baloo 2', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 45px;
                    line-height: 120%;
                    color: #5988ff;
                }
            }

            .fourth-section-projects-container-project-datas-used-technologies {
                p {
                    font-size: 23px;
                    line-height: 120%;
                    color: #5988ff;
                }
            }

            .fourth-section-projects-container-project-datas-description {
                span {
                    font-size: 16px;
                    line-height: 120%;
                    color: #000000;
                }
            }
        }
    }
}

@import "src/assets/scss/heigth-responsive.scss";
@import "src/assets/scss/width-responsive-600.scss";
@import "src/assets/scss/width-responsive-1000.scss";
@import "src/assets/scss/width-responsive-1500.scss";
@import "src/assets/scss/width-responsive-smartphone-landscape.scss";
@import "src/assets/scss/responsive-ipad-mini.scss";
@import "src/assets/scss/responsive-ipad-air.scss";
@import "src/assets/scss/responsive.scss";
