<div class="fourth-section-projects center" *ngFor="let project of allProjects; let i = index">
    <div class="balls">
        <img src="assets/img/ellipse_six.png" *ngIf="i==0"> <!--[style.left]="project['ballPosition.left'] + 'px'"-->
        <img src="assets/img/ellipse_seven.png" *ngIf="i==1">
        <img src="assets/img/ellipse_eight.png" *ngIf="i==1">
        <img src="assets/img/ellipse_nine.png" *ngIf="i==2">
        <img src="assets/img/ellipse_ten.png" *ngIf="i==3">
    </div>
    <!-- <img src="...." 
        [style.right.px]="project.ballPosition.right" 
        [style.right.px]="project.ballPosition.top"> -->
    <div class="fourth-section-projects-container" [style]="{'flex-direction': i % 2 == 0 ? 'row' : 'row-reverse'}">
        <div class="fourth-section-projects-container-image-container">
            <img data-aos="fade-right" class="my-element" src="assets/img/{{ project['img'] }}">
        </div>

        <div class="fourth-section-projects-container-project-datas column"
            [style]="{'align-items': i % 2 == 0 ? 'flex-start' : 'flex-end'}">
            <div class="fourth-section-projects-container-project-datas-name">
                <h3>{{project['name']}}</h3>
            </div>
            <div class="fourth-section-projects-container-project-datas-used-technologies">
                <p>{{project['technologies']}}</p>
            </div>
            <div class="fourth-section-projects-container-project-datas-description"
                [style]="{'text-align': i % 2 == 0 ? 'start' : 'end'}">
                <span>{{project['description']}}</span>
            </div>
            <div class="fourth-section-projects-container-project-datas-tryout">
                <button (click)="visitProject(project['url'])" class="primary-button">Try out</button>
                <button (click)="visitProject(project['doc'])" class="primary-button"
                    [style]="{'margin': i % 2 == 0 ? '24px 0 0 12px' : '24px 0 0 12px'}">Doc</button>
            </div>
        </div>
    </div>
</div>