<div class="fifth-section column">
    <div class="fifth-section-contact-headline flex-start">
        <div class="fifth-section-eleventh-ball ">
            <img src="assets/img/ellipse_eleven.png">
        </div>
        <h3>Contact</h3>
    </div>
    <div class="fifth-section-contact-wrap">
        <div class="fifth-section-contact-text flex-start column">
            <span>Got a problem to solve?</span>
            <p class="invitation">Contact me through this form, I am interested in hearing<br> you, knowing your ideas
                and contributing to your projects with my work.
            </p>
            <div class="display-flex">
                <p class="question">Need a Frontend developer?</p>
                <p class="contactme">Contact me!</p>
            </div>

            <div class="fifth-section-twelfth-ball">
                <img src="assets/img/ellipse_twelve.png">
            </div>
        </div>
        <div class="fifth-section-contact-send-email column">
            <form action="https://stefanhuebner97.de/SendMail/send_mail_two.php" method="POST">
                <input type="text" placeholder="Your name" autocomplete="off" name="name" required>
                <input type="email" placeholder="Your email" autocomplete="off" name="email" required>
                <textarea type="text" placeholder="Your message" autocomplete="off" name="message" required></textarea>
                <div class="fifth-section-contact-send-email-button center">
                    <button>Say hello ;)</button>
                </div>
            </form>
        </div>
    </div>
    <div class="fifth-section-thirteenth-ball">
        <img src="assets/img/ellipse_thirteen.png">
    </div>
    <div class="fifth-section-fourteenth-ball center">
        <img (click)="scroll('home')" src="assets/img/arrow_up.png">
    </div>
</div>

<!-- name="" id="" cols="30" rows="10" -->
