header {
    .menu-nav-bar {
        .menu-link-container {
            width: 200px;
            a {
                color: #5988ff;
                text-decoration: none;
                margin-left: 57px;
                font-size: 23px;
                &:hover {
                    cursor: pointer;
                    font-weight: 700;
                }
            }
        }
    }
}

@import "src/assets/scss/width-responsive-800.scss";
@import "src/assets/scss/width-responsive-1200.scss";