<header>
    <div class="menu-nav-bar display-flex">
        <div class="menu-link-container">
            <a class="white-link-ipad-mini white-link-ipad-mini-landscape white-link-ipad-air-landscape white-link-desktop-between-600-and-800" (click)="scroll('about')">About me</a>
        </div>
        <div class="menu-link-container">
            <a class="white-link-ipad-mini white-link-ipad-air white-link-desktop-between-600-and-800" (click)="scroll('skillset')">Skill set</a>
        </div>
        <div class="menu-link-container">
            <a (click)="scroll('mywork')">My work</a>
        </div>
    </div>
</header>