@import 'src/assets/scss/mixins';

.third-section {
    min-height: 65vh;
    width: 100%;
    position: relative;
    background: linear-gradient(128.94deg, #5988ff -33.96%, #5988ff 36.71%, #0043f0 112.25%);
    h2 {
        font-family: "Baloo 2";
        font-style: normal;
        font-weight: 600;
        font-size: 96px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: #ffffff;
    }
    .third-section-pictures {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        // background-color: rgba(0,0,0, 0.4);

        .third-section-pictures-box {
            text-align: center;
            margin-bottom: 40px;
            // background-color: rgba(0,0,0, 0.8);
            img {
                width: 70px;
                height: 75px;
                margin-left: 72px;
                margin-right: 72px;
            }
            p {
                width: 85px;
                height: 19px;
                font-size: 16px;
                line-height: 120%;
                color: #ffffff;
            }

            img,
            p {
                transition: all 0.2s ease-in-out;
            }

            &:hover {
                img {
                    @include jump-animation;
                }
                p {
                    font-size: 24px;
                }
            }
        }
    }
}

@import 'src/assets/scss/width-responsive-600.scss';
@import "src/assets/scss/width-responsive-smartphone-landscape.scss";
@import 'src/assets/scss/responsive.scss';
