<div id="home" class="main-container">

    <div class="first-section-img-left-corner">
        <img src="./assets/img/ellipse_one.png">
    </div>
    <div class="first-section-mylogo">
        <img src="assets/img/mylogo.png">
    </div>

    <div class="main-container-left-side">
        <div class="first-section-img-stefan">
            <img src="assets/img/myImage.png">
        </div>
    </div>
    
    <div class="main-container-right-side column">
        <div class="first-section-name column">
            <div class="name" data-aos="fade-right">Hello! I am Stefan</div>
            <div style="margin-top: 17px;" class="title">FRONTEND</div>
            <div class="title">DEVELOPER</div>
        </div>
        <div class="first-section-scroll-with-line column hide-mobile">
            <div class="center column hide-mobile">
                <img src="assets/img/SCROLL.png">
                <img class="lineclass" src="assets/img/line.png"> 
            </div>
        </div>
    </div>


    <div class="first-section-menu hide-mobile">
        <app-menu></app-menu>
    </div>
    
    <div class="first-section-icons center column hide-mobile">
        <a href="https://github.com/Stefan797" target="_blank"><img src="assets/img/github.png"></a> 
        <a><img (click)="scroll('contact')" src="assets/img/email.png"></a> 
        <a href="https://www.linkedin.com/in/stefan-h%C3%BCbner-0ba258234/" target="_blank"><img src="assets/img/linkedIn.png"></a>
    </div>

    <div class="drop-menu-mobile">
        <app-menu-mobile></app-menu-mobile>
    </div>
</div>