<div (click)="openSmartPhoneMenu('mobile-menu-container', 'd-none')"
    class="cursor drop-menu display-flex column hide-not-mobile">
    <img src="assets/img/Vector 6.png">
    <img src="assets/img/Vector 6.png">
    <img src="assets/img/Vector 6.png">
</div>

<div id="mobile-menu-container" class="mobile-menu-container d-none hide-not-mobile">
    <div class="insidebox">

        <div class="insidebox-logo">
            <img src="assets/img/mylogoblue.png">
        </div>

        <div (click)="closesmartphonemenu()" class="insidebox-back display-flex column">
            <img src="assets/img/Vector 6.png">
            <img src="assets/img/Vector 6.png">
            <img src="assets/img/Vector 6.png">
        </div>

        <div class="insidebox-choose-section-container center column">
            <div (click)="closesmartphonemenu(); scroll('about')" class="choose-side-section-link">About me</div>
            <div (click)="closesmartphonemenu(); scroll('skillset')" class="choose-side-section-link">Skill set</div>
            <div (click)="closesmartphonemenu(); scroll('mywork')" class="choose-side-section-link">My work</div>
            <div (click)="closesmartphonemenu(); scroll('contact')" class="choose-side-section-link">Contact</div>
        </div>
    </div>
</div>