<div (click)="removeClassFromElementById('mobile-menu-container', 'd-none')"
    class="drop-menu display-flex column hide-not-mobile">
    <img src="assets/img/Vector 6.png">
    <img src="assets/img/Vector 6.png">
    <img src="assets/img/Vector 6.png">
</div>

<div id="mobile-menu-container" class="mobile-menu-container d-none hide-not-mobile">
    <div class="insidebox display-felx column">
        <div class="upper-part">

            <img src="assets/img/mylogoblue.png">

            <div class="test column">
                <img src="assets/img/Vector 6.png">
                <img src="assets/img/Vector 6.png">
                <img src="assets/img/Vector 6.png">
            </div>
        </div>

        <div class="lower-part center column">
            <div class="choose-side-section-link">About me</div>
            <div class="choose-side-section-link">Skill set</div>
            <div class="choose-side-section-link">My work</div>
            <div class="choose-side-section-link">Contact</div>
        </div>
    </div>
</div>