<div (click)="removeClassFromElementById('mobile-menu-container', 'd-none')"
    class="drop-menu display-flex column hide-not-mobile">
    <img src="assets/img/Vector 6.png">
    <img src="assets/img/Vector 6.png">
    <img src="assets/img/Vector 6.png">
</div>

<div id="mobile-menu-container" class="mobile-menu-container d-none hide-not-mobile">
    <div class="insidebox">

        <img src="assets/img/mylogoblue.png">

        <div class="drop-menu display-flex column">
            <img src="assets/img/Vector 6.png">
            <img src="assets/img/Vector 6.png">
            <img src="assets/img/Vector 6.png">
        </div>

    </div>
    <div class="choose-section-container center column">
        <div>About me</div>
        <div>Skill set</div>
        <div>My work</div>
        <div>Contact</div>
    </div>


</div>