<div class="imprint-section">
    <div class="inside-container">
        <img routerLink="/home" src="assets/img/mylogoblue.png">
        <h1><b>Impressum</b></h1><br>
        <p>Stefan H&uuml;bner<br /> 84535 Erding</p><br> <!-- Zirbelstra&szlig;e 3<br /> -->
        <h2>Kontakt</h2>
        <p>Telefon: 0176-72815950<br> E-Mail: Stefan.huebner97@web.de</p><br>
        <div>
        </div>
        <h3>Quellen:</h3><br>
        <div class="quellen column">
            <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
            <a href="https://www.icons8.com">https://www.icons8.com</a>
            <a href="https://www.logomakr.com">https://logomakr.com/</a>
        </div>
        <button class="primary-button" routerLink="/data-protection">Data protection</button>
    </div>
    <div class="imprint-ball-one hide-mobile"> 
        <img src="assets/img/ellipse_nine.png">
    </div>
    <div class="imprint-ball-two"> 
        <img src="assets/img/ellipse_seven.png">
    </div>
    <div class="imprint-ball-three"> 
        <img src="assets/img/ellipse_three.png">
    </div>
    <div class="imprint-ball-four hide-between-600-and-800 hide-mobile"> 
        <img src="assets/img/ellipse_two.png">
    </div>
</div>