.imprint-section {
    height: 100vh;
    overflow-y: hidden;
    width: 100%;
    background: linear-gradient(179.99deg, #ffffff 12.89%, #eaf0ff 91.39%);
    position: relative;
    .inside-container {
        width: 86.12%;
        margin-top: 2%;
        margin-left: 6.94%;
        img {
            height: 96px;
            width: 96px;
            object-fit: contain;
            &:hover {
                cursor: pointer;
            }
        }
        h1 {
            font-family: "Baloo 2";
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            margin-top: 60px;
            color: #205bf6;
            margin-bottom: 8px;
        }
        h2 {
            font-family: "Baloo 2";
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            color: #205bf6;
        }
        p {
            font-size: 18px;
            line-height: 120%;
        }
        h3 {
            font-family: "Baloo 2";
            font-style: normal;
            font-weight: 800;
            color: #205bf6;
            font-size: 26px;
        }
        .quellen {
            display: flex;
            line-height: 150%;
            margin-bottom: 4px;
            margin-top: 4px;
        }
        button {
            margin-top: 40px;
        }
    }
    .imprint-ball-one {
        position: absolute;
        right: 8.90%;
        bottom: 10%;
    }
    .imprint-ball-two{
        position: absolute;
        right: 38%;
        bottom: 32%;
    }
    .imprint-ball-three{
        position: absolute;
        right: 8%;
        bottom: 65%;
    }
    .imprint-ball-four{
        position: absolute;
        left: 25%;
        bottom: 3%;
    }
}