<div id="mywork" class="fourth-section column">
    <div class="fourth-section-fourth-ball">
        <img src="assets/img/ellipse_four.png">
    </div>
    <div class="fourth-section-fifth-ball">
        <img src="assets/img/ellipse_five.png">
    </div>
    <div class="fourth-section-mywork-text column">
        <h3>My work</h3>
        <p>This page is a sample of my work - please feel free to try them out.</p>
    </div>

    <div class="fourth-section-sixth-ball">
        <img src="assets/img/ellipse_six.png">
    </div>

    <div class="fourth-section-seventh-ball">
        <img src="assets/img/ellipse_seven.png">
    </div>

    <div class="fourth-section-eight-ball">
        <img src="assets/img/ellipse_eight.png">
    </div>

    <div class="fourth-section-nine-ball">
        <img src="assets/img/ellipse_nine.png">
    </div>

    <div class="fourth-section-ten-ball">
        <img src="assets/img/ellipse_ten.png">
    </div>

    <app-projects></app-projects> 

</div>