/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.display-flex {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.center-only-align {
    display: flex;
    align-items: center;
}

.column {
    flex-direction: column;
}

.center-with-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cursor {
    cursor: pointer;
}